.categories {
	background-color: #ffffff;
}

.categories__wrapper {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-auto-flow: row dense;
	gap: 10px;
}

.categories__item {
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	height: 170px;
	padding: 20px;
	border-radius: 10px;
	background-color: #f6f7f9;
}

.categories__item-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.categories__item-title {
	font-size: 18px;
	font-weight: 500;
}

.categories__item-link {
	color: #fac50b;
}

.categories__item-count {
	color: #888;
	flex-shrink: 0;
}

.categories__item-img {
	position: absolute;
	right: 0;
	bottom: 0;
}

.category-3 {
	grid-column: span 2;
}

.category-8 {
	grid-column: span 2;
	background: linear-gradient(130deg, #f6f7f9 40%, #fac50b 100%);
}

.category-14 {
	background-color: #fac50b;
}

.category-1 img {
	width: 176px;
	height: 96px;
	mix-blend-mode: multiply;
}

.category-2 img {
	width: 134px;
	height: 117px;
	mix-blend-mode: multiply;
}

.category-3 img {
	width: 223px;
	height: 122px;
	mix-blend-mode: multiply;
}

.category-4 img {
	width: 148px;
	height: 80px;
	mix-blend-mode: multiply;
}

.category-5 img {
	width: 99px;
	height: 110px;
	mix-blend-mode: multiply;
}

.category-6 img {
	width: 133px;
	height: 109px;
	mix-blend-mode: multiply;
}

.category-7 img {
	width: 71px;
	height: 111px;
}

.category-8 img {
	width: 248px;
	height: 170px;
}

.category-9 img {
	width: 126px;
	height: 117px;
	mix-blend-mode: multiply;
}

.category-10 img {
	width: 143px;
	height: 112px;
	mix-blend-mode: multiply;
}

.category-11 img {
	width: 167px;
	height: 90px;
	mix-blend-mode: multiply;
}

.category-12 img {
	width: 150px;
	height: 96px;
	mix-blend-mode: multiply;
}

.category-13 img {
	width: 182px;
	height: 99px;
	mix-blend-mode: multiply;
}

.category-14 img {
	width: 114px;
	height: 170px;
}

@media (max-width: 1100px) {
	.categories__wrapper {
		grid-template-columns: auto auto auto;
	}
}

@media (max-width: 800px) {
	.categories__wrapper {
		grid-template-columns: auto auto;
	}
}

@media (max-width: 560px) {
	.categories__wrapper {
		grid-template-columns: auto;
	}

	.categories__item {
		flex-direction: column-reverse;

		padding: 15px;
		height: 100px;
	}

	.categories__item-wrapper {
		row-gap: 4px;
	}

	.categories__item-title {
		font-size: 14px;
	}

	.categories__item-count {
		font-size: 10px;
	}

	.category-3,
	.category-8 {
		grid-column: span 1;
	}

	.category-1 img {
		width: 130px;
		height: 71px;
	}

	.category-2 img {
		width: 92px;
		height: 81px;
	}

	.category-3 img {
		width: 149px;
		height: 81px;
	}

	.category-4 img {
		width: 129px;
		height: 69px;
	}

	.category-5 img {
		width: 72px;
		height: 80px;
	}

	.category-6 img {
		width: 101px;
		height: 83px;
	}

	.category-7 img {
		width: 52px;
		height: 82px;
	}

	.category-8 img {
		width: 141px;
		height: 97px;
	}

	.category-9 img {
		width: 79px;
		height: 74px;
	}

	.category-10 img {
		width: 93px;
		height: 73px;
	}

	.category-11 img {
		width: 130px;
		height: 70px;
	}

	.category-12 img {
		width: 119px;
		height: 76px;
	}

	.category-13 img {
		width: 130px;
		height: 71px;
	}

	.category-14 img {
		width: 66px;
		height: 98px;
	}
}
