.cooperation {
	background-color: #f6f7f9;
}

.cooperation__box {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px;

	height: 406px;
	border-radius: 10px;
	background-color: #fac50b;
}

.cooperation__img {
	position: absolute;
	top: 0;
	right: 0;

	width: 55%;
	height: 406px;

	border-radius: 10px;
	background-position: center;
	background-size: cover;
	background-image: url('../images/cooperation.png');
}

.cooperation__img-person {
	position: absolute;
	right: 0;
	bottom: 0;

	width: 271px;
	height: 406px;
}

.cooperation__wrapper {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 10px;
	z-index: 1;
}

.cooperation__wrapper-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 15px;
	height: 131px;
	border-radius: 10px;
	background-color: #f6f7f9;
}

.cooperation__wrapper-icon {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 27px;
	height: 25px;
	background-color: #fac50b;
	border-radius: 6px;
	padding: 4px;
}

@media (max-width: 1100px) {
	.cooperation__img {
		width: 50%;
	}
}

@media (max-width: 950px) {
	.cooperation__box {
		height: fit-content;
	}

	.cooperation__img {
		height: 100%;
		width: 40%;
	}

	.cooperation__img-person {
		width: 352px;
		height: 527px;
	}

	.cooperation__wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 800px) {
	.cooperation__img {
		position: relative;
		width: 100%;
		height: 241px;
		margin-bottom: 10px;
	}

	.cooperation__img-person {
		width: 197px;
		height: 295px;
	}

	.cooperation__wrapper {
		grid-template-columns: 1fr;
	}

	.cooperation__wrapper-item {
		height: 88px;
	}
}

@media (max-width: 740px) {
	.cooperation__box {
		padding: 20px;
	}
}
