.footer {
	background-color: #ffffff;
}

.footer__wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 30px;

	padding: 64px 0 54px;
	border-bottom: 1px solid #e7e7e7;
}

.footer__col {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.footer__col-title {
	font-size: 16px;
	font-weight: 700;
}

.footer__col-list {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.footer__col-item {
	color: #777777;
}

.footer__col-item a {
	color: inherit;
	transition: all 0.1s ease-in-out;
}

.footer__col-item a:hover {
	color: #272727;
}

.footer__bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 22px 0;
}

.footer__copyright {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 16px;
	color: #999999;
}

.footer__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	flex-shrink: 0;
}

.footer__logo img {
	width: 100%;
	height: 100%;
}

.footer__cards {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 10px;
}

.footer__card {
	height: 100%;
	max-height: 26px;
}

@media (max-width: 900px) {
	.footer__wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 680px) {
	.footer__bottom {
		flex-direction: column;
		align-items: start;
		gap: 20px;
	}
}

@media (max-width: 420px) {
	.footer__wrapper {
		grid-template-columns: repeat(1, 1fr);
	}

	.footer__card {
		max-height: 20px;
	}
}
